<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House Details Page - Designed by Aryan</title>
    <link rel="icon" href="/images/logo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/StyleSheet/footer.css">
    <link rel="stylesheet" href="/StyleSheet/Booking.css" />
    <script
      src="https://kit.fontawesome.com/c4254e24a8.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .house-details{
        margin: 0;
        background-color: rgb(255, 255, 255);
      }
      body{
        background-color: white;  
      }
      /* contact us */
      .contact_us * {
        font-family: Nunito, sans-serif;
      }
      
      .contact_us .text-blk {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 25px;
      }
      
      .contact_us .responsive-cell-block {
        min-height: 75px;
      }
      
      .contact_us input:focus {
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
      }
      
      .contact_us .container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: block;
      }
      
      .contact_us .responsive-container-block {
        min-height: 75px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
      }
      
      .contact_us .responsive-container-block.big-container {
        background-color: #03a9f4;
        position: static;
        height: auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
      }
      
      .contact_us .responsive-container-block.container {
        position: static;
        min-height: 75px;
        flex-direction: column;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        background-image:url(./image/axp-photography--hwq4OHDJWI-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .contact_us .container-block.form-wrapper {
        background-color: white;
        max-width: 1000px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-top: 90px;
        padding-right: 40px;
        padding-bottom: 75px;
        padding-left: 40px;
        margin-top: 80px;
        margin-right: auto;
        margin-bottom: 100px;
        margin-left: auto;
      }
      
      .contact_us .text-blk.contactus-head {
        font-size: 38px;
        line-height: 52px;
        font-weight: 900;
      }
      
      .contact_us .text-blk.contactus-subhead {
        color: #9c9c9c;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
      }
      
      .contact_us .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
        min-height: 50px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 55px;
        margin-left: 50px;
      }
      
      .contact_us .input {
        width: 400px;
        height: 48px;
        padding-top: 1px;
        padding-right: 15px;
        padding-bottom: 1px;
        padding-left: 15px;
        font-size: 16px;
        color: black;
        border-top-width: initial;
        border-right-width: initial;
        border-bottom-width: 3px;
        border-left-width: initial;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        border-top-color: initial;
        border-right-color: initial;
        border-bottom-color: #d8d7d7;
        border-left-color: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
      }
      
      .contact_us .textinput {
        width: 900px;
        min-height: 320px;
        padding-top: 20px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-left: 15px;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #eeeeee;
        border-right-color: #eeeeee;
        border-bottom-color: #eeeeee;
        border-left-color: #eeeeee;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        font-size: 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #f1f2f3;
      }
      
      .contact_us .submit-btn {
        width: auto;
        background-color: #00b289;
        height: 58px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: outset;
        border-right-style: outset;
        border-bottom-style: outset;
        border-left-style: outset;
        border-top-color: #767676;
        border-right-color: #767676;
        border-bottom-color: #767676;
        border-left-color: #767676;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        padding-top: 1px;
        padding-right: 60px;
        padding-bottom: 1px;
        padding-left: 60px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        cursor: pointer;
      }
      
      .contact_us .form-box {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        padding-top: 80px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
      }
      
      .contact_us .text-blk.input-title {
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        font-size: 19px;
        color: black;
        font-weight: 600;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
      }
      
      .contact_us ::placeholder {
        color: #b4b4b4;
      }
      
      .contact_us .text-blk.contact-head {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        color: white;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
      }
      
      .contact_us .text-blk.contact-subhead {
        max-width: 670px;
        font-size: 20px;
        line-height: 27px;
        color: white;
      }
      
      @media (max-width: 1024px) {
        .contact_us .responsive-container-block.container {
          padding-top: 0px;
          padding-right: 30px;
          padding-bottom: 0px;
          padding-left: 30px;
        }
      
        .contact_us .container-block.form-wrapper {
          margin-top: 60px;
          margin-right: 0px;
          margin-bottom: 80px;
          margin-left: 0px;
        }
      }
      
      @media (max-width: 768px) {
        .contact_us .submit-btn {
          width: 100%;
        }
      
        .contact_us .input {
          width: 100%;
        }
      
        .contact_us .textinput {
          width: 100%;
        }
      
        .contact_us .container-block.form-wrapper {
          margin-top: 80px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
        }
      
        .contact_us .text-blk.input-title {
          padding-top: 0px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
        }
      
        .contact_us .container-block.form-wrapper {
          margin-top: 80px;
          margin-right: 0px;
          margin-bottom: 80px;
          margin-left: 0px;
        }
      
        .contact_us .text-blk.contact-subhead {
          font-size: 18px;
        }
      }
      
      @media (max-width: 500px) {
        .contact_us .container-block.form-wrapper {
          padding-top: 50px;
          padding-right: 15px;
          padding-bottom: 50px;
          padding-left: 15px;
        }
      
        .contact_us .container-block.form-wrapper {
          margin-top: 60px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
        }
      
        .contact_us .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 15px;
          margin-left: 0px;
        }
      
        .contact_us .responsive-container-block {
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 35px;
          margin-left: 0px;
        }
      
        .contact_us .text-blk.input-title {
          font-size: 12px;
        }
      
        .contact_us .responsive-container-block.container {
          padding-top: 0px;
          padding-right: 20px;
          padding-bottom: 0px;
          padding-left: 20px;
        }
      
        .contact_us .container-block.form-wrapper {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          padding-top: 50px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-left: 20px;
          margin-top: 50px;
          margin-right: 0px;
          margin-bottom: 80px;
          margin-left: 0px;
        }
      
        .contact_us .form-box {
          padding-top: 50px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
        }
      
        .contact_us .text-blk.contact-head {
          font-size: 35px;
          line-height: 40px;
        }
      
        .contact_us .text-blk.contact-subhead {
          font-size: 16px;
          line-height: 24px;
        }
      
        .contact_us .text-blk.input-title {
          font-size: 16px;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 10px;
          margin-left: 0px;
        }
      
        .contact_us .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 35px;
          margin-left: 0px;
        }
      
        .contact_us .input {
          height: 40px;
        }
      
        .contact_us .text-blk.contact-head {
          font-size: 26px;
          line-height: 35px;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 10px;
          margin-left: 0px;
        }
      }
      .first-line{
        width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .second-line{
        width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
    </style>
  </head>
  <body>

    <nav id="navBar" class="navbar-white">
      <h1>PastPort</h1>
      <ul class="nav-links">
        <li><a href="/"></a>Home</li>
        <li><a href="/">Home</a></li>
        <li><a href="/places">Place to Visit</a></li>
        <li><a href="/trip">Trip Planner</a></li>
        <li><a href="/chatbot">Chatbot</a></li>
        <li><a href="/mybooking">My Booking</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>

    </nav>
    <div class="contact_us">
      <div class="responsive-container-block container">
        <form class="form-box">
          <p class="text-blk contact-head">
            Get in touch
          </p>
          <p class="text-blk contact-subhead">
            PastPort is your ultimate platform for booking tickets to heritage sites across India. We provide personalized recommendations and eco-friendly paperless tickets to enhance your travel experience. Discover and explore India's rich cultural heritage with ease and convenience.
          </p>
          <div class="container-block form-wrapper">
            <div class="responsive-container-block">
             <div class="first-line">
              <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt-4">
                <p class="text-blk input-title">
                  First Name
                </p>
                <input class="input" id="ijowk-4" name="FirstName">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  Last Name
                </p>
                <input class="input" id="indfi-3" name="Last Name">
              </div>
             </div>
              <div class="second-line">
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <p class="text-blk input-title">
                    Email
                  </p>
                  <input class="input rahulinput" id="ipmgh-4" name="Email">
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <p class="text-blk input-title">
                    Phone No.
                  </p>
                  <input class="input" id="imgis-4" name="PhoneNumber">
                </div>
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-4">
                <p class="text-blk input-title">
                  Message
                </p>
                <textarea class="textinput" id="i5vyy-4" placeholder="Write your message..."></textarea>
              </div>
            </div>
            <button class="submit-btn">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="row">
          <div class="col">
              <img src="./image/footerimage.png" width="200px" height="60px" alt="logo">
              <p>PastPort is your ultimate platform for booking tickets to heritage sites across India. We provide personalized recommendations and eco-friendly paperless tickets to enhance your travel experience. Discover and explore India's rich cultural heritage with ease and convenience.</p>
          </div>
          <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>IMSEC</p>
            <p>Dasna Ghaziabad</p>
            <p>Uttar Pradesh, PIN 201009, India</p>
            <p class="email-id">rahulkumar27382@gmail.com</p>
            <h4>+91 - 600679704</h4>
          </div> 
          <div class="col">
              <h3>Links <div class="underline"><span></span></div></h3>
              <ul>
                <li><a href="./Home.html">HOME</a></li>
                <li><a href="./placesToVisit.html">PLACES TO VISIT</a></li>
                <li><a href="./Home.html">MY BOOKINGS</a></li>
                <!-- <li><a href="#">Features</a></li> -->
                <li><a href="./Contact.html">CONTACT US</a></li>
           </ul>
          </div>
          <div class="col">
              <h3>Newsletter <div class="underline"><span></span></div></h3>
              <form action="">
                  <i class="fa-regular fa-envelope" ></i>
                  <input type="email" placeholder="Enter your email id" required>
                  <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
              </form>
              <div class="social-icons">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-whatsapp"></i>
                  <i class="fa-brands fa-pinterest"></i>
              </div>
          </div>
      </div>
      <hr>
      <p class="copyright">Ticketing System  © 2024 - All Rights Reserved</p>
  </footer>
    <script>
      var navBar = document.getElementById("navBar");

      function togglebtn() {
        navBar.classList.toggle("hide-menu");
      }
    </script>

  </body>
</html>
